<app-navbar/>

<div class="container" style="margin-bottom: 100px; margin-top: 100px">
    <h2 style=" text-align: center;">Etapa 1</h2>
    <div class="content">
        <form>
            <!-- Nome da etapa input with icon -->
        <div class="input-wrapper"  style="margin-bottom: 16px;">
            <input type="text" id="nome-etapa" name="nome-etapa" placeholder="Nome da etapa">
            <img src="../../assets/edit-pencil-icon.svg" alt="Ícone de edição" class="input-icon">
        </div>

        <!-- Status input with icon and Prazo Final date input -->
        <div class="input-row">
            <!-- Status input with icon -->
            <div class="input-wrapper" style="flex: 1 1 70%;">
                <input type="text" id="status" name="status" placeholder="Status" style="margin-top: 8px;">
                <img src="../../assets/edit-pencil-icon.svg" alt="Ícone de edição" class="input-icon">
            </div>

            
            <input type="date" id="prazo-final" name="prazo-final" placeholder="Prazo Final">
        </div>
            
            
                <div class="textarea-wrapper">
                    <textarea id="descricao" name="descricao" placeholder="Descrição"></textarea>
                    <img src="../../assets/edit-pencil-icon.svg" alt="Ícone de edição" class="textarea-icon">
                </div>
            

        
                <div class="file-upload-wrapper">
                    Imagem
                    <input type="file" id="imagem" name="imagem">
                    <img src="../../assets/edit-pencil-icon.svg" alt="Ícone de edição" class="file-upload-icon">
                </div>
        
            
        </form>

        <div class="button-container">
            <button class="btn salvar">Salvar</button>
            <button class="btn finalizar-etapa">Finalizar Etapa</button>
            <button class="btn excluir-etapa">Excluir Etapa</button>
        </div>
        
    </div>
</div>


<div class="button-container" style="margin-bottom: 50px; margin-top: -50px;">
    <button class="voltar" >
        <img src="../../assets/editar-obra-voltar.svg" alt="Ícone de voltar" />
        <span style="padding-left: 8px;">Voltar</span>
    </button>
    <button class="nova-etapa">
        <span style="padding-right: 8px;">Nova Etapa</span>
        <img src="../../assets/editar-obra-mais.svg" alt="Ícone de mais"  />
    </button>
</div>




<app-footer/>

