@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body, html {
    margin: 0;
    padding: 0;
    background-color: #F9F8F4;
}
