@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login-box {
    margin-top: 400px;
    margin-bottom: 400px;
    background-color: #023059;
    width: 460px;
    height: 370px;
    padding: 2rem;
    border-radius: 12px;
    color: white;
    margin: 14rem auto;
}

footer {
    text-align: center;
    background-color: #023059;
    color: white;
    padding: 1rem;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

.login-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
    color: white;
    margin-bottom: 2.5rem;
    margin-top: 0;
    text-align: center;
}

.input-field {
    width: 80%;
    height: 38px;
    border-radius: 8px;
    padding: 1rem;
    margin: 0 auto 1.3rem auto;
    border: none; 
    background-color: white;
    color: #727272;
    display: block;
}

.input-field::placeholder {
    color: #727272;
    font-family: '', sans-serif;
}


.login-button {
    width: 26%; 
    height: 38px;
    background-color: #F2B705;
    color: #023059;
    border: none;
    border-radius: 8px; 
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 3rem auto 0 auto;
    display: block;
}

.login-button:hover {
    background-color: #e6e600;
}


.forgot-password {
    color: #F2B705;
    text-decoration: none;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    display: block;
    text-align: center;
}

.forgot-password:hover {
    text-decoration: underline;
}
