@model app.Models.AddUsinaViewModel

@{
    Layout = "_ContentLayout";
}

<h1>Adicionar Usina</h1>
<form method="post">
    <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control" />
    </div>

    <div>
        <label for="capacidadeKW">Capacidade (KW)</label>
        <input type="number" id="capacidadeKW" name="capacidadeKW" class="form-control" />
    </div>

    <div>
        <label for="dataInicio">Data de Início</label>
        <input type="date" id="dataInicio" name="dataInicio" class="form-control" />
    </div>

    <div>
        <label for="statusOperacional">Status Operacional</label>
        <input type="text" id="statusOperacional" name="statusOperacional" class="form-control" />
    </div>

    <div>
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" name="endereco" class="form-control" />
    </div>

    <div>
        <label for="cidadeId">Cidade</label>
        <select asp-for="CidadeId" asp-items="@(new SelectList(Model.Cidades, "Id", "Name"))">
            <option value="">Selecione uma cidade</option>
        </select>
    </div>

    <div>
        <label for="clienteId">Cliente</label>
        <select asp-for="ClienteId" asp-items="@(new SelectList(Model.Clientes, "Id", "Nome"))">
            <option value="">Selecione um cliente</option>
        </select>

    </div>

    <div>
        <label for="fonteDeEnergiaId">Tipo de Energia</label>
        <select asp-for="FonteDeEnergiaId" asp-items="@(new SelectList(Model.FontesDeEnergia, "Id", "Tipo"))">
            <option value="">Selecione um tipo de energia</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>