<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/app.styles.css" asp-append-version="true" />

</head>

<body class="d-flex flex-column vh-100">
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow
        mb-3">
        <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">app</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Usinas"
        asp-action="Index">Usinas</a>
        </li>

        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Estados"
        asp-action="Index">Estados</a>
        </li>

        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cidades"
        asp-action="Index">Cidades</a>
        </li>

        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="FontesDeEnergia"
        asp-action="Index">Fontes de Energia</a>
        </li>
        </ul>
        </div>
        </div>
        </nav> *@
    </header>

    <div class="w-100 flex-fill">
        <main role="main" class="h-100 w-100">
            <div class="d-flex flex-column h-100 w-100">
                <div class="d-flex h-100 w-100 ">
                    <aside class="bg-success-custom shadow-lg py-3">
                        <div class="search-bar d-flex align-items-center mx-3 p-2 rounded">
                            <input type="text" class="form-control bg-transparent text-white border-0"
                                placeholder="Buscar">
                            <img src="../../images/lupapesquisa.png" alt="Buscar" class="ml-2"
                                style="width: 20px; height: 20px; cursor: pointer;">
                        </div>

                        <div class="btn-group-vertical w-100 px-3">
                            <a asp-controller="Usinas" asp-action="Index" class="btn btn-custom mt-3 mb-3">Usinas</a>
                            <a asp-controller="FontesDeEnergia" asp-action="Index" class="btn btn-custom mb-3">Fonte de
                                Energia</a>
                            <a asp-controller="ProducaoDeEnergia" asp-action="Index"
                                class="btn btn-custom mb-3">Produção</a>
                            @* <a asp-controller="Relatorios" asp-action="Index" class="btn btn-custom
                            mb-2">Relatórios</a>
                            <a asp-controller="Admin" asp-action="Index" class="btn btn-custom mb-2">Administrador</a>
                            <a asp-controller="Account" asp-action="Logout" class="btn btn-secondary-custom
                            mt-auto">Sair</a> *@
                        </div>
                    </aside>

                    <div class="w-100 h-100 p-4">
                        @RenderBody()
                    </div>

                </div>

            </div>
        </main>
    </div>

    <footer class="bg-warning py-4 shadow">
        <div class="container text-center">
            <p class="text-white fw-light mb-3 mt-2">&copy; 2024 EcoLogic - Todos os direitos reservados.</p>
            <div class="d-flex justify-content-center gap-3 mb-2">
                <img id="cel-icon" src="../../images/phone.png" alt="Phone" width="24" height="24">
                <img src="../../images/whatsapp.png" alt="Whatsapp" width="24" height="24">
                <img src="../../images/email.png" alt="Email" width="24" height="24">
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
