@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*CAPA*/
.container-capa {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
}

.edit-button {
    position: absolute; /* Posiciona o lápis*/
    top: 10px;
    right: 10px; 
    background-color: transparent; 
    border: none; 
    color: #fff; 
    cursor: pointer; 
    font-size: 15px; /* Tamanho do lápis */
  }
  
  .capa {
    position: relative; 
    background-color: #023059;
    border-radius: 15px;
    padding: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

.capa img {
    max-width: 80%; 
    border-radius: 10px; 
}

/*DADOS OBRA*/
.container-dados {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
}

.dados-obra {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.etapas {
  text-align: center;
  background-color: #023059;
  color: #FFF;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.etapas h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.etapa {
  background-color: #FFF;
  color: #025373;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.editar {
  background-color: #F2B705;
  color: #023059;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.info-obra {
  margin: 0 auto;
  width: 30%;
  padding: 20px;
}

.info-obra h1 {
  font-family: 'Oswald', sans-serif;
  color: #023059;
  font-size: 36px;
  margin-bottom: 20px;
}

.info-obra h2 {
  font-family: 'Noto Sans', sans-serif;
  color: #023059;
  font-size: 24px;
  margin: 10px 0;
}

.relatorios {
  border: 2px solid #025373;
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
  max-width: 250px;
}

.relatorios h3 {
  font-family: 'Oswald', sans-serif;
  color: #023059;
  font-size: 20px;
  margin-left: 30px;
}

.relatorios a {
  font-family: 'Noto Sans', sans-serif;
  color: #023059;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  margin-left: 30px;
  text-decoration: none;
}

/*COMPARTILHAR*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;  
}

.compartilhar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap; 
}

.compartilhar-left {
  background-color: #023059;
  padding: 20px;
  border-radius: 8px;
  flex: 1 1 45%; /* Flexível, ocupa 60% da largura em telas grandes */
  margin-bottom: 20px; /* Espaçamento inferior para telas menores */
  margin-right: 50px;
}

.compartilhar-title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: center;
  margin: 0 0 10px;
}

.link-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
}

.link-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
}

.file-icon {
  margin-left: 10px;
  color: #023059; /* Ajuste conforme necessário */
}

.compartilhar-right {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaçamento entre os botões */
  flex: 1 1 20%; /* Flexível, ocupa 30% da largura em telas grandes */
}

.btn {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.obra-concluida {
  background-color: #F2B705;
  color: #023059;
  border: none;
}

.excluir-obra {
  background-color: transparent;
  border: 2px solid #025373;
  color: #023059;
}

/* Responsividade */
@media (max-width: 768px) {
  .dados-obra {
    flex-direction: column;
    align-items: center;
  }
  .etapas, .info-obra {
    width: 100%;
    margin-bottom: 20px;
  }

  .compartilhar-container {
    flex-direction: column; /* Alinha os elementos verticalmente em telas menores */
    align-items: stretch; /* Faz com que os itens ocupem toda a largura */
}

.compartilhar-left,
.compartilhar-right {
    width: 100%; /* Ocupa toda a largura em telas menores */
    margin-bottom: 20px; /* Espaço entre os elementos */
}

.link-container {
    margin-bottom: 10px; /* Espaço abaixo do campo de link */
}
}