<app-navbar></app-navbar>

<!--CAPA-->
<section class="container-capa">
    <div class="capa">
        <img [src]="imageSrc" alt="Imagem de capa" />
        <button class="edit-button" (click)="editImage()">
            <i class="fas fa-pencil-alt"></i> <!-- Ícone de lápis -->
        </button>
    </div>
</section>

<!--DADOS OBRA-->
<div class="container-dados">
    <div class="dados-obra">
        <section class="etapas">
            <h2>ETAPAS</h2>
            <div class="etapa" *ngFor="let e of etapas">
              {{ e.nomeEtapa }} - {{ e.descricao }} - {{ getStatus(e.dataConclusao) }}
            </div>
            <button class="editar" *ngIf="isGestor">EDITAR</button>
          </section>
          

        <section class="info-obra">
            <h1>{{obra?.nome}}</h1>
            <h2>{{obra?.construtora}}</h2>
            <h2>{{obra?.localizacao}}</h2>
            <div class="relatorios">
                <h3>RELATÓRIOS</h3>
                 <a href="#" (click)="gerarRelatorioSimples($event)">Simples</a> 
                 <a href="" (click)="gerarRelatorioDetalhado($event)">Detalhado</a> 
            </div>
        </section>
    </div>
</div>

<!--COMPARTILHAR-->
<div class="container" *ngIf="isGestor">
<div class="compartilhar">
    <div class="compartilhar-left">
        <h2 class="compartilhar-title">COMPARTILHAR</h2>
        <div class="link-container">
            <input type="text" class="link-input" placeholder="Link de compartilhamento"  value="{{linkObra}}"/>
            <i class="file-icon fas fa-file"></i>
        </div>
    </div>
    <div class="compartilhar-right">
        <button class="btn obra-concluida" (click)="marcarComoConcluida()">OBRA CONCLUÍDA</button>
        <button class="btn excluir-obra" (click)="excluirObra()">EXCLUIR OBRA</button>
    </div>
</div>
</div>
<app-footer></app-footer>
