@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.banner {
    background: url('../../../assets/banner-home.svg') no-repeat center center;
    background-size: cover;
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
    margin: 0 auto;
}

.banner-content {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-family: 'Oswald', sans-serif;
}

h1 {
    margin-right: 150px;
    font-size: 56px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    h1 {
        font-size: 36px;
        margin: 0;
    }

}