<app-navbar></app-navbar>

<!--BANNER-->
<section class="banner">
    <div class="banner-content">
        <h1>CONCRETA <br>
        Organização e Precisão<br>
        em cada etapa</h1>
    </div>
</section>

<!--SOBRE-->
<section class="sobre-container">
    <div class="sobre-texto">
        <h2>NOSSO PROJETO</h2>
        <p>
            O projeto "Concreta", desenvolvido no curso de Análise e Desenvolvimento de Sistemas da PUC Minas, 2º semestre de 2024, é uma 
            <b>plataforma interativa de gestão de obras</b>. Seu objetivo é oferecer aos gestores, construtoras e clientes uma visão clara das etapas de cada obra, com relatórios detalhados e alertas sobre atrasos e alterações nos cronogramas. 
            <b>Integrantes: Danillo Souza de Faria, Jéssica Maria Silva, Luiz Fernando Ribeiro Rocha, Paloma Caroline de Sá Bassani, Rafael de Castro Leles e Thiago Soares de Souza</b>.
        </p>
    </div>
    <div class="sobre-imagem">
        <div class="imagem-fundo"></div>
        <img src="../../../assets/sobre-home.svg" alt="Equipe" class="imagem-equipe">
    </div>
</section>

<!--BENEFICIOS-->
<section class="beneficios">
    <h2 class="beneficios-title">BENEFÍCIOS</h2>
    <div class="beneficios-container">
        <div class="beneficio">
            <h3 class="beneficio-title">
            <span class="numero">1.</span> Visibilidade total do projeto
            </h3>
            <p class="beneficio-description">
            acesso a todas as fases da obra
            </p>
        </div>
        <div class="beneficio">
            <h3 class="beneficio-title">
            <span class="numero">2.</span> Melhora na comunicação
            </h3>
            <p class="beneficio-description">
            facilita o fluxo de informações
            </p>
        </div>
        <div class="beneficio">
            <h3 class="beneficio-title">
            <span class="numero">3.</span> Economia de tempo
            </h3>
            <p class="beneficio-description">
            ajuda a prevenir problemas antes que ocorram
            </p>
        </div>
    </div>
</section>

<!--FERRAMENTAS-->
<section class="ferramentas-container">
    <h2 class="ferramentas-titulo">FERRAMENTAS</h2>
    <div class="ferramentas-grid">
        <div class="ferramenta-item">
            <img src="../../../assets/icone-gestao-home.svg" alt="Calendário" class="ferramenta-icon">
            <span class="ferramenta-texto">Gestão de <br> Cronograma</span>
        </div>
        <div class="ferramenta-item">
            <img src="../../../assets/icone-relatorio-home.svg" alt="Relatórios" class="ferramenta-icon">
            <span class="ferramenta-texto">Relatórios <br> Automatizados</span>
        </div>
        <div class="ferramenta-item">
            <img src="../../../assets/icone-alerta-home.svg" alt="Alertas" class="ferramenta-icon">
            <span class="ferramenta-texto">Alertas e <br> Notificações</span>
        </div>
    </div>
</section>

<app-footer></app-footer>
