<app-navbar/>

<div class="container" style="margin-bottom: 100px; margin-top: 100px">
    <h2 style=" text-align: center;">OBRAS EM ANDAMENTO</h2>
    <div class="content">
      
      <table>
        <thead>
          <tr>
            <th>Nome da obra</th>
            <th>Construtora</th>
            <th>Localização</th>
            <th>Última atualização</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="buttons" style="margin-top: 10px;">

        <button class="btn back">
          <img src="../../assets/icone-voltar.svg" alt="Ícone de voltar" />
          Voltar para o menu
        </button>

        <button class="btn load-more">
          <img src="../../assets/icone-andamento.svg" alt="Ícone de andamento"/>
          Carregar mais obras
        </button>
      </div>
  </div>
  
 <app-footer/>

