* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Saira Condensed', sans-serif;
    background-color: rgba(0, 0, 0, 1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    min-height: 100vh; 
    zoom: 0.7
}

header {
    width: 100%; 
    padding: 10px 0; 
}

section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 900px; 
    padding: 50px;
}

.login-title {
    font-size: 32px; 
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgb(255, 255, 255); 
    margin-bottom: 10px; 
}

.software-title {
    font-size: 28px; 
    font-weight: 250;
    line-height: 40px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgba(150, 150, 150, 1); 
    margin: 10px 0; 
}

.form-group {
    width: 740px; 
    margin: 80px 0; 
}

.obrigatorio {
    font-size: 15px; 
    font-weight: 500;
    color: rgba(255, 255, 255, 0.697); 
    margin-bottom: 5px; 
}

.textfield {
    width: 100%; 
    height: 60px;
    background-color: rgba(141, 181, 173, 1); 
    border: none; 
    border-radius: 5px; 
    display: flex; 
    align-items: center; 
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 100%; 
    padding: 10px;
    border: none; 
    background: transparent; 
    font-size: 20px; 
    font-weight: 500;
    color: black; 
}

.btn-recuperar {
    width: 337px;
    height: 50px;
    background: rgba(29, 107, 89, 1);
    color: rgb(255, 255, 255);
    font-size: 22px; 
    font-weight: 900;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: 150px; 
}

.esqueceu-senha {
    text-align: center;
    font-size: 17px; 
    font-weight: 500;
    margin: 0px 0; 
}

.lembra-senha {
    margin-top: 5px; 
}

footer {
    background-color: rgba(29, 107, 89, 1); 
    color: rgba(255, 255, 255, 0.736);
    text-align: center;
    padding: 20px; 
    width: 100%; 
    position: relative; 
    margin-top: auto; 
}
