<app-navbar></app-navbar>

<!--Título-->
<div class="titulo-principal">
  <h1>Siga o passo a passo para efetuar o <span class="negrito">cadastro</span> da sua <span class="negrito">obra com sucesso!</span></h1>
</div>

<!--1º Passo-->
<section class="primeiro-passo">
  <h2>1º Passo</h2>
  <hr>
  <div class="form-container">
    <h3>Sobre a obra:</h3>
    <form>
      <input type="text" placeholder="Nome da obra">
      <input type="text" placeholder="Construtora">
      <input type="text" placeholder="Localização (Cidade - Estado)">
      <div class="prazo-conclusao">
        <label class="prazo-label" [class.hidden]="dateValue">Prazo de conclusão geral</label>
        <input type="date" [(ngModel)]="dateValue" (focus)="hideLabel()" (blur)="showLabel()">
      </div>
      <div class="anexar-imagem">
        <input type="file" id="imagem-capa" accept=".jpg, .jpeg, .png" hidden>
        <label for="imagem-capa">
          <input type="text" placeholder="Anexar imagem capa da obra">
          <i class="fa fa-paperclip clip-icon"></i>
        </label>
      </div>
    </form>
  </div>
</section>


<app-footer></app-footer>
